<template>
  <section 
    role="tabpanel"
    v-show="isActive"
    :aria-labelledby="name"
    :aria-hidden="hidden"
    >
    <slot/>
  </section>
</template>

<script>
export default {
  props: {
    name: { required: true },
    selected: { default: false }
  },
  data() {
    return {
      isActive: false
    };
  },
  created() {
    this._isTab = true;
  },
  mounted() {
    this.isActive = this.selected;
    this.$parent.tabs.push(this);
  },
  computed: {
    hidden() {
      return this.isActive ? "false" : "true";
    }
  }
};
</script>

<style>

</style>
