<template>
  <div class="tabs-wrapper">
    <div class="tabs-tabs">
      <slot name="left-side"/>
      <div class="tabs-scroll-tabs">
        <div class="tabs-list">
          <div v-for="(tab, i) in tabs" :class="{ 'active': tab.isActive }" @click="selectTab(tab)" :key="i" class="tabs-tab sizing-fit">
            <div class="tab-box">
              <div class="tab-label">
                <div class="tab-label description">
                  <a class="label-name">{{tab.name}}</a>
                </div>
              </div>
              <div class="tab-close">
                <div class="action-bar animated">
                  <ul class="actions-container" role="toolbar" aria-label="Tab actions">
                    <li class="action-item" role="presentation">
                      <a class="action-label icon close-editor-action" role="button" tabindex="0" title="Close (Ctrl+W)"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <slot name="right-side"/>
    </div>
    <div class="tabs-progress-wrapper"></div>
    <div class="tabs-panel" role="tabpanel">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeTabIndex: 0,
      tabs: []
    };
  },
  methods: {
    selectTab(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = Boolean(tab.name === selectedTab.name);
      });
    }
  }
};
</script>


<style scoped>
webview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
webview.visible {
  z-index: 1;
}
.tabs-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #cccccc;
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
    HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
}
.tabs-tabs {
  height: 35px;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(37, 37, 38);
}
.tabs-scroll-tabs {
  position: relative;
  overflow: hidden;
  flex: 1;
}
.tabs-list {
  display: flex;
  height: 35px;
  overflow: hidden;
  padding: 0 7px;
}
.tabs-panel {
  height: calc(100% -35px);
}

.tab-box {
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding-left: 10px;
  background: #fff;
  transform: perspective(100px) rotateX(30deg);
}


.tabs-tab.sizing-fit {
  width: 120px;
  min-width: fit-content;
}
.tabs-tab.active {
  z-index: 40;
    position: relative;
    padding-bottom: 1px;
}
.tab-box {
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
}

.tabs-tab.active .tab-box {
  background-color: #737070;
  color: #fff;      
}

.tab-label {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  text-overflow: ellipsis;
  overflow: visible;
  white-space: nowrap;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}
.tab-close {
  margin-top: auto;
  margin-bottom: auto;
  width: 28px;
}
.action-bar {
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}
.action-bar .actions-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}
.action-bar .action-item {
  cursor: pointer;
  display: inline-block;
  transition: transform 50ms ease;
  position: relative;
}

.action-bar .action-label {
  opacity: 0;
  display: block;
  height: 16px;
  width: 16px;
  background-size: 16px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}
.action-bar .action-label{
  opacity: 1;
}

.close-editor-action {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='3 3 16 16'%3E%3Cpath fill='%23e8e8e8' d='M12.597 11.042l2.803 2.803-1.556 1.555-2.802-2.802L8.239 15.4l-1.556-1.555 2.802-2.803-2.802-2.803 1.555-1.556 2.804 2.803 2.803-2.803L15.4 8.239z'/%3E%3C/svg%3E")
    50% no-repeat;
}
</style>
