<template>
  <div id="app">
      <h1>{{message}}</h1>
      <tabs>
          <tab name="abc" :selected="true">4444444444444</tab>
          <tab name="def">2222222222222</tab>
          <tab name="ghi">3333333333333</tab>
      </tabs>
  </div>  
</template>

<script>
export default {
    data() {
        return {
            message: "Wellcome to Vue!!!"
        }
    }
}
</script>

<style>
html,body, #app {
    height: 100%;
}
</style>
